{
    "title": "{{title}}",
    "altTitle": "{{altTitle}}",
    "source": "{{source}}",
    "custodian": "{{custodian}}",
    "topics": "{{topics}}",
    "keywords": "{{keywords}}",
    "abstract": "{{abstract}}",
    "lineage": "{{lineage}}"
}